.el-table td, .el-table th{
  padding: 5px 0;
}
.el-table th, .el-table tr{
  background: none;
}
.el-table thead{
  color: #333333;
  background: #f5f7fa;
}
.el-popper[x-placement^=bottom]{
  margin-top: 0;
}
.el-dropdown-menu{
  background: rgb(62, 82, 101);
  width: 123px;
  font-size: 14px;
  margin: 0;
  border-radius:0;
  .el-dropdown-menu__item{
    color: white;
    &:hover{
      background: rgb(43, 57, 71);
      color: #fff;
    }
  }
  .popper__arrow{
    opacity: 0;
  }
}
.el-card__body{
  .is-active{
    color: #00aa72;
  }
  .el-tabs__active-bar{
    background: #00aa72;
  }
}
.el-pager li.active{
  color: #00aa72;
}
